+reset

body
  font-family: Lato, sans-serif
  color: $text_dark

a
  text-decoration: none
  color: inherit

.wrapper
  +wrapper

.flex
  +row-flex()

.debugGrid
  +debug(rgba(201, 159, 160, 0.4), 1px solid #f0f)