@import "../../../node_modules/font-awesome/scss/font-awesome"

@font-face
  font-family: 'FontAwesome'
  src: url('../../fonts/fontawesome-webfont.eot?v=4.7.0')
  src: url('../../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg')
  font-weight: normal
  font-style: normal


@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Raleway:400,500,600,700&display=swap')