extends layouts/main

//- инклюд всех блоков, используемых в проекте
include blocks/button/button
include blocks/scrollbar/scrollbar
include blocks/title/title

//- Название страницы
block pageTitle
	-var pageTitle = 'Creativia'

block vars

block header
	include sections/headMenu

block content
	include sections/hero
	include sections/about
	include sections/portfolio
	include sections/product
	include sections/clints

block footer
