$height_hex: 20px

%triangle
  content: ''
  width: 0
  height: 0
  position: absolute
  top: 0
  border-top: $height_hex / 2 solid transparent
  border-bottom: $height_hex / 2 solid transparent


.bar
  width: 44%
  margin: 0 auto
  height: 1px
  position: relative

  &--black
    background-color: $grey
    margin: 90px auto
  &--red
    background-color: $red

  &__hex
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    height: $height_hex
    width: $height_hex / 2

    &::before
      @extend %triangle
      left: - (($height_hex) / 4)

    &::after
      @extend %triangle
      right: - ($height_hex / 4)

    &--black
      background-color: $grey

      &::after
        border-left: ($height_hex / 4) solid $grey
      &::before
        border-right: ($height_hex / 4) solid $grey


    &--red
      background-color: $red

      &::after
        border-left: ($height_hex / 4) solid $red
      &::before
        border-right: ($height_hex / 4) solid $red
