.btn
  display: block
  color: $text_light
  text-transform: uppercase
  font-family: Raleway, sans-serif
  font-weight: 500
  width: 170px
  line-height: 50px
  text-align: center
  background-color: $dark
  transition: all .3s

  &:hover
    background-color: $red
