div#abouts.about
    .wrapper
        +title("about", "creativia")
        p.about__subtitle Lorem ipsum dolor sit amet, consectetur #[span adipiscing elit.] Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt.
        .about__up
            .about__descr
                p.about__left Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum vitae,
                .accordion
                    h3.accordion__title Who is creativia
                    p.accordion__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros.
                .accordion
                    h3.accordion__title Experiences
                    p.accordion__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros.
                .accordion
                    h3.accordion__title Learn more
                    p.accordion__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros.
            .about__image
                img(src="../../img/about/about.png" alt="about us")
        +scrollbar('black')
        .about__down
            .about__item
                .about__item__icon
                    i.fa.fa-heart
                .about__item__title FLAT DESIGN
                .about__item__descr Lorem ipsum dolor sit amet cras vitae sodales ac nec prellentesque
            .about__item
                .about__item__icon
                    i.fa.fa-check-square-o
                .about__item__title FLAT DESIGN
                .about__item__descr Lorem ipsum dolor sit amet cras vitae sodales ac nec prellentesque vivamus eget mauris fusce sit amet
            .about__item
                .about__item__icon
                    i.fa.fa-mobile-phone.icon-big
                .about__item__title FLAT DESIGN
                .about__item__descr Lorem ipsum dolor sit amet cras vitae sodales ac nec prellentesque vivamus eget mauris fusce sit amet
            .about__item
                .about__item__icon
                    i.fa.fa-fire
                .about__item__title FLAT DESIGN
                .about__item__descr Lorem ipsum dolor sit amet cras vitae sodales ac nec prellentesque vivamus eget mauris fusce sit amet

