div#clints.clints
    .wrapper
        +title("our", "clints")(class="title--white")
        .clints__subtitle Lorem ipsum dolor sit amet, consectetur #[span adipiscing elit.] Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt.
        .clints__main
            .clints__report
                h3 Happy clients say
                .slider.owl-carousel.owl-theme
                    div
                        p.slider__says Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt.
                        .slider__picture
                            img(src="../../img/clints/user1.jpg" alt="user1")
                        p.slider__name Amr Srour
                    div
                        p.slider__says Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt.
                        .slider__picture
                            img(src="../../img/clints/user2.jpg" alt="user1")
                        p.slider__name Amr Srour
                    div
                        p.slider__says Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt.
                        .slider__picture
                            img(src="../../img/clints/user3.jpg" alt="user1")
                        p.slider__name Amr Srour
            .clints__buttons
                .btn__wrapper
                    a.clints__btn(href="#")
                        span.icon.icon--graphicriver
                        span.text graphicriver
                    a.clints__btn(href="#")
                        span.icon.icon--videohive
                        span.text videohive
                    a.clints__btn(href="#")
                        span.icon.icon--photodune
                        span.text photodune
                    a.clints__btn(href="#")
                        span.icon.icon--codecanyon
                        span.text codecanyon