-var menu = ['home', 'abouts', 'portfolio', 'clients', 'team', 'services', 'blog', 'contact']
-var link = ['#home', '#abouts', '#portfolio', '#clients', '#team', '#services', '#tblog', '#contact']

header
    .wrapper
        nav.nav
            .nav__logo
                img(src="../../img/logo/logo_white.png" alt="logo")
            ul.nav__menu
                each item, key in menu
                    li.nav__link
                        a(href=link[key])
                            span= item