div#home.hero
    .wrapper
        .flex
            +title("why", "creativia ?")(class='title--white')
            p.hero__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum vitae,
            .hero__buttons
                +button("#", "features")
                +button("#", "free psd")