div#portfolio.portfolio
    .wrapper
        +title("portfolio","")(class="title--white")
        .portfolio__tabs
            .portfolio__tab.portfolio__tab--active(data-target="all") all
            .portfolio__tab(data-target="illustration") illustration
            .portfolio__tab(data-target="digital art") digital art
            .portfolio__tab(data-target="web design") web design
        .portfolio__items
            .portfolio__link(data-target="illustration")
                img.portfolio__img(src="../../img/portfolio/img1.jpg" alt="name link")
                a(href="#")
                    i.fa.fa-plus
                    span design name
            .portfolio__link.portfolio__link--short(data-target="web design")
                img.portfolio__img(src="../../img/portfolio/img2.jpg" alt="name link")
                a(href="#")
                    i.fa.fa-plus
                    span design name
            .portfolio__link(data-target="digital art")
                img.portfolio__img(src="../../img/portfolio/img3.jpg" alt="name link")
                a(href="#")
                    i.fa.fa-plus
                    span design name
            .portfolio__link.portfolio__link--short(data-target="web design")
                img.portfolio__img(src="../../img/portfolio/img4.jpg" alt="name link")
                a(href="#")
                    i.fa.fa-plus
                    span design name
            .portfolio__link.portfolio__link--short(data-target="digital art")
                img.portfolio__img(src="../../img/portfolio/img5.jpg" alt="name link")
                a(href="#")
                    i.fa.fa-plus
                    span design name
            .portfolio__link(data-target="digital art")
                img.portfolio__img(src="../../img/portfolio/img6.jpg" alt="name link")
                a(href="#")
                    i.fa.fa-plus
                    span design name
            .portfolio__link.portfolio__link--short(data-target="illustration")
                img.portfolio__img(src="../../img/portfolio/img7.jpg" alt="name link")
                a(href="#")
                    i.fa.fa-plus
                    span design name
            .portfolio__link(data-target="illustration")
                img.portfolio__img(src="../../img/portfolio/img8.jpg" alt="name link")
                a(href="#")
                    i.fa.fa-plus
                    span design name
+scrollbar("red")

