div#product.product
    .wrapper
        +title("our", "product features")
        .product__subtitle Lorem ipsum dolor sit amet, consectetur #[span adipiscing elit.] Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt.
        .product__grid
            ul.product__button.button-group1
                li.product__link
                    span Unlimited color options
                    .list-style
                        i.fa.fa-check
                li.product__link
                    span Outstanding support
                    .list-style
                        i.fa.fa-check
                li.product__link
                    span retina ready
                    .list-style
                        i.fa.fa-check
            ul.product__button.button-group2
                li.product__link
                    .list-style
                        i.fa.fa-check
                    span Unlimited color options
                li.product__link
                    .list-style
                        i.fa.fa-check
                    span Outstanding support
                li.product__link
                    .list-style
                        i.fa.fa-check
                    span retina ready
            .product__envelope.envelope
                .envelope__back
                .envelope__phone
                    img.product__img.product__img--active(src="../../img/product/Camera1.png" alt="Lorem")
                .envelope__front
                    +button("#", "free psd")