.about
  padding-top: 96px
  &__subtitle
    padding-top: 45px
    padding-bottom: 90px
    text-align: center
    font-weight: 700

    span
      color: $red

  &__up
    +row-flex()

  &__descr
    +col()
    +size(6)

  &__image
    +col()
    +size(6)

  &__left
    padding-bottom: 35px
    color: $text_grey

  &__image
    img
      width: 100%

%pseudo-plus
  font-family: 'FontAwesome'
  font-size: 0.8rem
  line-height: 20px
  text-align: center
  position: absolute
  top: 14px
  left: 20px
  width: 20px
  height: 20px

.accordion
  &__title
    $padding_left: 90px
    font-family: Raleway,sans-serif
    font-weight: 500
    font-size: 1.25rem
    color: $grey
    background-color: #f7f7f7
    border: 1px solid #e7e7e7
    width: calc(100% - #{$padding_left})
    padding: 10px 0 10px #{$padding_left}
    margin-bottom: 10px
    position: relative
    cursor: pointer

    &::after
      @extend %pseudo-plus
      content: '\f067'
      border: 1px solid $grey
      box-sizing: border-box
      border-radius: 50%

    &--active
      color: $red

      &::after
        content: '\f068'
        border-color: $red

  &__descr
    padding: 10px 15px
    display: none


.about
  &__down
    +row-flex()
    margin-bottom: 95px

  &__item
    +col()
    +size(3)
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    &__icon
      width: 44px
      height: 76px
      line-height: 76px
      font-size: 1.75rem
      border-top: 1px solid $grey
      border-bottom: 1px solid $grey
      position: relative
      text-align: center
      .icon-big
        font-size: 2rem

      &::before
        +hexagon(1px, $grey)
        +hexagon-before()
      &::after
        +hexagon(1px, $grey)
        +hexagon-after()

    &__title
      margin: 35px 0 25px

    &__descr
      margin: auto 0

    &:hover
      .about__item__icon
        color: $text_light
        background-color: $red
        border-top: 1px solid $red
        border-bottom: 1px solid $red

        &::before, &::after
          background-color: $red
          border-top: 1px solid $red
          border-bottom: 1px solid $red
          z-index: -1