%psevdo-clints
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.clints
  background: url('../../img/clints/bg-clints.jpg') no-repeat $grey center
  background-size: cover
  padding: 95px 0 99px

  &__subtitle
    padding: 43px 0 100px
    text-align: center
    color: $text_light
    font-weight: 700
    span
      color: $red

  &__main
    +row-flex()

  &__report
    +col()
    +size(6)

    h3
      text-transform: uppercase
      font-size: 1.25rem
      font-weight: 700
      text-align: center
      color: $light
      margin-bottom: 40px

    .slider
      width: 100%
      text-align: center

      &__says
        color: $text_grey
        padding-bottom: 45px

      &__picture
        width: 65px
        margin: 0 auto
        clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%)

      &__name
        color: $red
        text-transform: uppercase
        padding: 15px 0
        font-family: Raleway, sans-serif
        font-weight: 700

  &__buttons
    +col()
    +size(6)

    .btn__wrapper
      +row-flex()

  &__btn
    +col()
    +size(6)
    background-color: #fbfbfb
    height: 115px
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 35px
    box-shadow: inset 0 0 50px 15px rgba(0,0,0,0.35)
    transition: box-shadow .5s

    &:hover
      box-shadow: inset 0 0 50px 15px rgba(0,0,0,0.55)

    .icon
      display: block
      width: 24px
      height: 24px
      background-color: $grey
      border-radius: 3px
      position: relative

      &--graphicriver
        &::after
          @extend %psevdo-clints
          content: url('../../img/clints/icon-fish.png')
          top: 0
          right: 0
          left: auto
          transform: translate(0, 0)
      &--videohive
        &::after
          @extend %psevdo-clints
          content: url('../../img/clints/icon-bee.png')
      &--photodune
        &::after
          @extend %psevdo-clints
          content: url('../../img/clints/icon-bug.png')
      &--codecanyon
        &::after
          @extend %psevdo-clints
          content: url('../../img/clints/icon-eagle.png')



    .text
      padding-left: 10px
      font-family: "Arial Unicode MS", sans-serif
      font-size: 1.5rem
      letter-spacing: -1px

.owl-carousel
  button
    &.owl-dot
      width: 8px
      height: 8px
      background-color: $text_light
      margin: 0 2px
      &.active
        background-color: $red