$menu_height: 60px

%pseudo-elem
  content: ''
  height: 2px
  width: 50%
  background-color: $red
  position: absolute
  left: 50%
  transform: translateX(-50%)

header
  height: $menu_height
  width: 100%
  position: fixed
  z-index: 100
  background-color: $dark

.nav
  height: $menu_height
  display: flex
  justify-content: space-around


  &__logo
    width: 250px

  &__menu
    margin-left: auto
    display: flex

  &__link
    height: 100%
    font-size: 1.3rem
    text-transform: uppercase
    color: $text_grey
    margin-left: 30px
    position: relative
    transition: .2s

    a
      height: 100%
      display: flex
      align-items: center
      font-family: 'Raleway', sans-serif
    &:hover
      color: $text_light
      &::before
        @extend %pseudo-elem
        top: 0
      &::after
        @extend %pseudo-elem
        bottom: 0
