.hero
  min-height: calc(100vh - #{$menu_height})
  //background-color: $grey
  padding-top: $menu_height
  display: flex
  flex-wrap: wrap
  align-content: center
  background: url('../../img/hero/hero_bg1.jpg') no-repeat $grey center
  background-size: cover

  &__descr
    color: $text_light
    text-align: center
    +col()
    +size(10)
    +shift(1)
    padding: 40px 0

  &__buttons
    width: 100%
    +row-flex()
    justify-content: center

    .btn
      +col()
