.portfolio
  background-color: $grey
  padding: 95px 0 100px

  &__tabs
    +row-flex()
    padding: 30px 0 95px
    justify-content: center

  &__tab
    font-family: Raleway, sans-serif
    font-weight: 500
    color: $text_grey
    text-transform: uppercase
    padding: 0 10px
    cursor: pointer
    transition: all .1s

    &--active
      color: $red
      font-weight: 600

    &:hover
      color: $red
      font-weight: 600

  &__items
    +row-flex()
    justify-content: center

  &__link
    width: (100% / 14 * 4)
    position: relative
    img
      vertical-align: bottom
    a
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      font-size: 0
      width: 0
      height: 100%
      position: absolute
      top: 0
      left: 0
      color: $text_light
      background-color: rgba(38, 38, 38, 0.95)
      transition: width .3s

    &:hover
      a
        width: 100%
        font-size: 1rem
        i
          font-size: 1.5rem

    &--short
      width: (100% / 14 * 3)

