.product
  padding-top: 96px
  padding-bottom: 200px
  +xmd-block
    padding-top: 46px
  +xs-block
    padding-bottom: 46px

  &__subtitle
    padding: 50px 0 100px
    color: $text_dark
    font-weight: 700
    text-align: center
    span
      color: $red
    +xmd-block
      padding-bottom: 45px

  &__link
    width: 100%
    padding: 12px 5px
    box-sizing: border-box
    border: 1px solid #e7e7e7
    color: $text_dark
    text-transform: uppercase
    font-size: 1.25rem
    margin: 23px 0
    display: flex
    align-items: center

    .list-style
      width: 18px
      height: 32px
      background-color: #e7e7e7
      margin: 0 25px 0 25px
      position: relative
      text-align: center
      line-height: 32px
      font-size: 1rem
      +md-block
        order: 1
      i
        position: relative
        z-index: 1
      &::before
        +hexagon(0px, $grey)
        +hexagon-before()
        background-color: #e7e7e7
      &::after
        +hexagon(0px, $grey)
        +hexagon-after()
        background-color: #e7e7e7

    &:hover
      background-color: $red
      color: $light
      .list-style
        background-color: $light
        color: $red
        &::before, &::after
          background-color: $light

  &__grid
    display: grid
    grid-template-rows: 1fr
    grid-template-columns: 1fr 370px 1fr
    grid-template-areas: "group1 envelope group2"
    grid-gap: 0 $offset
    +md-block
      grid-template-rows: auto auto
      grid-template-columns: 1fr 470px
      grid-template-areas: "group1 envelope" "group2 envelope"
    +xmd-block
      grid-template-rows: auto auto
      grid-template-columns: 1fr 1fr
      grid-template-areas: "group1 group2" "envelope envelope"
    +xs-block
      grid-template-rows: auto auto auto
      grid-template-columns: 1fr
      grid-template-areas: "group1" "group2" "envelope"

  &__button
    +xs-block
      max-width: 510px
      margin: 0 auto

  .button-group1
    grid-area: group1
    padding-top: 50px
    +md-block
      padding-top: 0
    .product__link
      text-align: right
      justify-content: flex-end

  .button-group2
    grid-area: group2
    padding-top: 50px
    +md-block
      padding-top: 0
    .product__link
      text-align: left
      +md-block
        text-align: right
        justify-content: flex-end

  &__envelope
    grid-area: envelope
    +xs-block
      display: none


.envelope
  position: relative

  &__back
    width: 230px
    height: 400px
    background-color: #484848
    border-top: 1px solid $grey
    border-bottom: 1px solid $grey
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: -115px
    z-index: 0
    &::before
      +hexagon(1px, $grey)
      +hexagon-before()
      background-color: #484848
    &::after
      +hexagon(1px, $grey)
      +hexagon-after()
      background-color: #484848
    +md-block
      bottom: -80px
    +xmd-block
      bottom: -115px

  &__phone
    position: relative
    bottom: 0
    left: 0
    width: 100%
    height: auto
    z-index: 1
    +md-block
      width: 370px
      margin: 0 auto
    img
      width: 100%

  &__front
    width: 230px
    height: 200px
    background-color: $grey
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: -115px
    z-index: 2
    display: flex
    justify-content: center
    align-items: center
    +md-block
      bottom: -80px
    +xmd-block
      bottom: -115px

    &::before
      content: ""
      position: absolute
      top: 0
      left: -114px
      width: 0
      height: 0
      border-top: 200px solid $grey
      border-left: 115px solid transparent
    &::after
      content: ""
      position: absolute
      top: 0
      right: -114px
      width: 0
      height: 0
      border-top: 200px solid $grey
      border-right: 115px solid transparent