@import "./global/project.less";
@import "./global/smart-grid.less";

.reset();

.wrapper{
    .wrapper();
}
/*
.degubGrid{
    .debug(rgba(0, 0, 0, 0.4), 1px solid #ff0);
}
*/

h2, .h2{
    font-size: 2.5rem;
    text-align: center;
    margin: 20px 0;
}

.h2sub{
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}

.profit{
    background: @color_black;
    padding: 15px 0;

    &__title{
        color: #fff;
    }

    &__subtitle{
        color: @color_green;
    }
}

/*
.profitItems{
    .row-float();
}

.profitItem{
    .col();
    .col-float();
    .size(6);
    .shift(1);

    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

    &__img{
        border-radius: 50%;
    }
    
    &__subtitle{
        color: #fff;
        font-size: 1.5rem;
        margin: 3px 0;
    }

    &__text{
        font-size: 16px;
        color: #d94948;
    }
}*/

.profitItems{
    .row-flex();
    justify-content: space-around;
}

.profitItem{
    .col();
    .size(6);
    .size-md(8);
    .size-sm(10);
    .size-xs(20);

    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

    &__img{
        border-radius: 50%;
    }
    
    &__subtitle{
        color: #fff;
        font-size: 1.5rem;
        margin: 3px 0;
    }

    &__text{
        @c: #d94948;

        font-size: 16px;
        color: @c;

        .xxs-block({
            font-size: 18px;
            color: lighten(@c, 10%);
        });
    }
}

.humans{ 
    background: @color_green;
    padding: 10px 0;

    h2{
        color: @color_black;
    }

    .h2sub{
        color: #fff;
    }

    .items{
        .row-flex();
        justify-content: center;

        .item{
            .col();
            .size(6);
            .size-md(10);
            .size-sm(12);
            .size-xs(24);
            .xs(max-width, 400px);
           /* .size-xxs(24);*/



            background: #fff;
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 10px;
            text-align: center;
            display: flex;
            flex-direction: column;

            img{
                margin: 10px auto;
                width: 90%;
            }

            .subtitle{
                color: #222;
                font-size: 24px;
                margin: 10px;
            }

            .job{
                margin: auto 10px 10px 10px;
            }

            .follow{
                background: #6cc372;
                color: #fff;
                font-size: 24px;
                cursor: pointer;
                border-radius: 5px;
                padding: 5px;
            }
        }
    }
}

.portfolio{ 
    background: @color_grey;
    padding: 10px 0;

    h2{
        color: @color_black;
    }

    .h2sub{
        color: @color_green;
    }

    .items{
        .row-flex();
        justify-content: space-between;
        .sm(justify-content, center);

        .item{
            .col();
            .size(5.24);
            .size-md(6);
            .size-sm(10);
            .size-xs(20);

            margin-top: 15px;
            margin-bottom: 15px;
            text-align: center;

            img{
                margin: 10px auto;
                width: 100%;
            }

            .txt{
                color: @color_black;
                font-size: 20px;
            }
        }
    }
}

.pricing{  
    .h2sub{
        color: @color_red;
    }

    .items{
        .item{
            text-align: center;
            border-radius: 10px;
            overflow: hidden;

            .title{
                background: #fff;
                overflow: hidden;
            }

            ul{
                li{
                    background: @color_grey;
                    padding: 15px 0;
                    border-bottom: 1px solid @color_black;
                } 
            }

            .price{
                background: @color_red;
                color: #fff;
                padding: 10px 15px;

                .cur{
                    font-size: 1.5em;
                }

                .val{
                    font-size: 3em;
                }

                .per{
                    font-size: 1.2em;
                    margin-top: 10px;
                }

                a{
                    color: @color_black;
                    text-decoration: none;
                    background: #fff;
                    padding: 5px 20px;
                    border-radius: 5px;
                    margin-left: auto;
                }
            }
        }
    }
}

footer{
    display: grid;
    .items{
        .item{
            background: #aaa;
            min-height: 200px;

            .row{
                div{
                    background: #f50;
                }
            }
        }
    }

}