=hexagon($px, $color)
  content: ''
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: -$px
  border-top: $px solid $color
  border-bottom: $px solid $color

=hexagon-before()
  transform: rotate(60deg)

=hexagon-after()
  transform: rotate(-60deg)
